
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* BUTTON */
.button-create {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #646cff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-create:hover {
  background-color: #535bf2;
}

/* CARD */
.thread-card {
  max-width: 400px;
  margin: auto;
  padding: 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(28, 25, 25);
}

.username {
  font-size: 1.125rem;
  font-weight: 600;
  color: whitesmoke;
}

.text {
  margin-top: 8px;
  color: white;
}

.button-card{
  background-color: #646cff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left:10px;
  margin-right:10px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.modal input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.modal button {
  width: 100%;
  padding: 10px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.modal button:hover {
  background-color: #535bf2;
}
